html,
body {
  font-family: 'PT Mono', monospace;
  font-size: 1.5vw;
  background-color: #fabc05;
  color: white;
  cursor: url("assets/img/cursor.png"), auto;
  max-width: 100%;
  overflow-x: hidden;
}

.top {
    overflow: hidden;
    background-color: #ea4235;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 1%;
    border: .1vw dashed #34a853;
    z-index: 1;
}

.textop {
  position: relative;
  left: 5vw;
}

.main {
  margin-top: 7vw;
}

.line {
  border: .1vw dashed #34a853;
  width: 100%;
}

.row {
  display: flex;
  padding-top: 3%;
  padding-bottom: 3%;
}

.row:hover {
  color: #2e60b2;
}

.date {
  position: relative;
  left: 5vw;
}

.post {
  position: relative;
  left: 25vw;
  margin-right: 50vw;
  overflow-wrap: break-word;
}

.photo:hover:after {
  position: absolute;
  z-index: 2;
  border: white 5px solid;
  line-height: 0px;
}

.dec31:hover:after {
  content: url(assets/img/dec31.JPG);
  left: 75vw;
  top: 5vw;
}

.dec24:hover:after {
  content: url(assets/img/dec24.JPG);
  left: 80vw;
  top: 20vw;
}

.dec12:hover:after {
  content: url(assets/img/dec12.JPG);
  left: 70vw;
  top: 35vw;
}

.nov6:hover:after {
  content: url(assets/img/nov6.JPG);
  left: 70vw;
  top: 60vw;
}

.oct7:hover:after {
  content: url(assets/img/oct7.JPG);
  left: 75vw;
  top: 90vw;
}

.sep1:hover:after {
  content: url(assets/img/sep1.JPG);
  left: 70vw;
  top: 120vw;
}

.aug7:hover:after {
  content: url(assets/img/aug7.JPG);
  left: 75vw;
  top: 155vw;
}

.july2712:hover:after {
  content: url(assets/img/july2712.JPG);
  left: 75vw;
  top: 190vw;
}

.july27:hover:after {
  content: url(assets/img/july27.JPG);
  left: 70vw;
  top: 200vw;
}

.july21:hover:after {
  content: url(assets/img/july21.JPG);
  left: 75vw;
  top: 220vw;
}

.july9:hover:after {
  content: url(assets/img/july9.JPG);
  left: 70vw;
  top: 240vw;
}

.july4:hover:after {
  content: url(assets/img/july4.JPG);
  left: 75vw;
  top: 300vw;
}

.june13:hover:after {
  content: url(assets/img/june13.JPG);
  left: 75vw;
  top: 320vw;
}

.june5:hover:after {
  content: url(assets/img/june5.JPG);
  left: 80vw;
  top: 345vw;
}

.june1:hover:after {
  content: url(assets/img/june1.JPG);
  left: 75vw;
  top: 360vw;
}

.may8:hover:after {
  content: url(assets/img/may8.JPG);
  left: 80vw;
  top: 380vw;
}

.april26:hover:after {
  content: url(assets/img/april26.JPG);
  left: 75vw;
  top: 400vw;
}

.april13:hover:after {
  content: url(assets/img/april13.JPG);
  left: 80vw;
  top: 410vw;
}

.april3:hover:after {
  content: url(assets/img/april3.JPG);
  left: 75vw;
  top: 430vw;
}

.march4:hover:after {
  content: url(assets/img/march4.JPG);
  left: 70vw;
  top: 450vw;
}

.march2:hover:after {
  content: url(assets/img/march2.gif);
  left: 80vw;
  top: 460vw;
}

.feb23:hover:after {
  content: url(assets/img/feb23.JPG);
  left: 75vw;
  top: 480vw;
}

.feb17:hover:after {
  content: url(assets/img/feb17.JPG);
  left: 80vw;
  top: 540vw;
}

.dec2011:hover:after {
  content: url(assets/img/dec2011.JPG);
  left: 75vw;
  top: 560vw;
}

.nov2011:hover:after {
  content: url(assets/img/nov2011.JPG);
  left: 70vw;
  top: 595vw;
}
