body {
  background-image: linear-gradient(blue, #1b1464);
  height: 100%;
}

img {
  padding: 2%;
  width: 60%;
}

.left1 {
  width: 75%;
}

.right3 {
  position: absolute;
  right: 0px;
  padding: 5%;
  width: 65%;
}

.left4 {
  width: 65%
}

.right6 {
  position: absolute;
  right: 0px;
  padding: 5%;
  width: 70%
}

.right8 {
  position: absolute;
  right: 0px;
  padding: 5%;
}

.right10 {
  position: absolute;
  right: 0px;
  padding: 5%;
  width:75%
}
