html {
    background-image: url("assets/img/back.JPG");
}

.right {
  position: absolute;
  right: 0px;
  padding: 3%;
}

.left {
  width: 60%;
  padding: 1%;
}

.l1 {
  width: 75%;
}

.r3 {
  width: 65%;
}

.l4 {
  width: 65%;
}

.r6 {
  width: 70%;
}

.r8 {
  width: 60%;
}

.r10 {
  width:75%;
}
