html,
body {
  background-color: #4c198c;
  font-family: ivyjournal, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 150%;
}

.parent {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.child1 {
  height: 100%;
}

.child2 {
  height: 50%;
}

.or {
  color: #f2841f;
  font-size: 60px;
  line-height: 50pt;
}

.yell {
  color: #f7d31f;
  font-size: 60px;
  line-height: 50pt;
}

li {
  font-family: ivyjournal, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f7d31f;
}


#computer {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

a {
  font-family: ivyjournal, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f7d31f;
}

a:link {
  color: #f7d31f;
}

a:visited {
  color: #f7d31f;
}

a:hover {
  color: #f7d31f;
}

ul {
  list-style-type: square;
  color: #f7d31f;
  font-size: 30px;
}
