body {
  background: #005F00;
  max-width: 100%;
  height: 1500%;
  max-height: 1500%;
  overflow-x: hidden;
}

p {
  color: #EE72D3;
  font-family: lexia-mono, serif;
  font-weight: 400;
  font-style: normal;
}

.graph {
  position: fixed;
  width: 110vw;
  left: 50%;
  margin-left: -55vw;
  top: 5vh;
  z-index: -1;
}

.balls {
  height: 1500vh;
  max-height: 1500vh;
  overflow: hidden;
}

.info {
  position: fixed;
  border: solid #EE72D3 3px;
  padding-left: 10px;
  padding-right: 10px;
  background: #005F00;
  z-index: 3;
}


.ball {
  background: #EE72D3;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.ball.active {
  background: none;
  background-image: url("assets/img/stripes.svg");
  background-repeat: repeat;
  background-size: 100px 100px;
  z-index: 1;
}

.ball:hover {
  cursor: pointer;
}

/*location of balls*/

.aud {
  left: 10vw;
  top: 1206vh;
}
.bgn {
  left: 35vw;
  top: 310vh;
}
.brl {
  left:20vw;
  top: 50vh;
}
.cad {
  left: 70vw;
  top: 5vh;
}
.chf {
  left: 46vw;
  top: 519vh;
}
.cny {
  left: 35vw;
  top: 1047vh;
}
.czk {
  left: 75vw;
  top: 657vh;
}
.dkk {
  left: 80vw;
  top: 527vh;
}
.eur {
  left: 67vw;
  top: 657vh;
}
.gbp {
  left: 67vw;
  top: 575vh;
}
.hkd {
  left:25vw;
  top: 1102vh;
}
.hrk {
  left: 50vw;
  top: 657vh;
}
.huf {
  left: 55vw;
  top: 579vh;
}
.idr {
  left: 13vw;
  top: 827vh;
}
.ils {
  left: 27vw;
  top: 662vh;
}
.inr {
  left: 25vw;
  top: 909.5vh;
}
.isk {
  left: 95vw;
  top: 170vh;
}
.jpy {
  left: 45vw;
  top: 1234vh;
}
.krw {
  left: 45vw;
  top: 898.5vh;
}
.mxn {
  left: 50vw;
  top: 5vh;
}
.myr {
  left:15vw;
  top: 1036vh;
}
.nok {
  left: 80vw;
  top: 521vh;
}
.nzd {
  left:1vw;
  top: 1432vh;
}
.php {
  left: 20vw;
  top: 1140vh;
}
.pln {
  left: 65vw;
  top: 579vh;
}
.ron {
  left: 56vw;
  top:607vh;
}
.rub {
  left: 88vw;
  top: 1052vh;
}
.sek {
  left: 90vw;
  top: 576vh;
}
.sgd {
  left: 15vw;
  top: 766.5vh;
}
.thb {
  left:23vw;
  top: 1030vh;
}
.try {
  left: 35vw;
  top: 667vh;
}
.zar {
  left: 11vw;
  top: 602vh;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EE72D3;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:window-inactive {
   visibility:hidden;
}
