
body {
  background-color: pink;
  font-family: arial;
  color: red;
  font-size: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item {
  text-align: center;
}



@keyframes yinSpin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

#yin-yang {
  height: 500px;
  animation: yinSpin 5s ease-in-out 1s infinite;
}

#yin-yang:hover {
  animation: yinSpin 5s ease-in-out 1s infinite paused;
}


@keyframes colorChange {
  0% {
    fill: default;
  }
  100%{
    fill: #6d79cd;
  }
}

@keyframes yinOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
#yin-yang path, #yin-yang circle {
  animation: colorChange 5s ease-in-out 2s infinite alternate, yinOpacity 5s ease-in-out 2s infinite alternate-reverse;
}
