body {
  font-family: monospace;
  color: white;
  background-color: black;

}

p {
  margin-right: 200px;
  margin-left: 25px;
}

.blockquote {
  margin-left: 100px
}

.map {
  position: fixed;
  width: 300px;
  top: 75px;
  right:350px;
  filter:invert(100%);

}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  left:350px;
}
