body {
  background: #0033ff;
  color: #f722d0;
  font-family: aktiv-grotesk,sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  margin-right: 50px;
  margin-left: 600px;
  font-size: 20px;

}

a:link {
  color: #f722d0;
}

a:visited {
  color: #f722d0;
}

.head {
  margin-left: 600px;
  font-style: bold;
}


.blockquote {
  margin-left: 750px;
  margin-right: 50px;
}

.map {
  position: absolute;
  width: 500px;
  top: 75px;
  left:30px;
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}
