html,
body {
  height:100%;
}

.lines{
  display: flex;
  height: 200%;
  width: 30%;
  justify-content: space-around;

}

.line {
  height:200%;
  width: 5px;
  background-color: black;
}

.dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: yellow;
  position: fixed;
}

.d1 {
  left: 10%;
  top: 23%;
}

.d2 {
  left: 12%;
  top: 54%;
}

.d3 {
  left: 34%;
  top: 67%;
}

.d4 {
  left: 44%;
  top: 87%;
}

.d5 {
  left: 90%;
  top: 43%;
}

.d6 {
  left: 75%;
  top: 33%;
}

.d7 {
  left: 85%;
  top: 83%;
}

.box1 {
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: blue;
  top: 300px;
  left: 100px;
  z-index: -1;
}

.box2 {
  position: relative;
  height: 300px;
  width: 300px;
  background-color: red;
  bottom: 30px;
  left: -30px;
}

.box3 {
  position: static;
  height: 600px;
  width: 600px;
  background-color: red;
  transform: rotate(30deg);
  z-index: 1;
}

.box4 {
  position: static;
  height: 400px;
  width: 400px;
  background-color: blue;
  transform: rotate(30deg);
  z-index: 2;
}
