body,
html {
  padding: 0;
  margin: 0;
  overflow-x:hidden;
  background: #C2ABC8;
  min-height: 100%;
}

h1{
  font-family: halyard-display, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36pt;
}

h5{
  font-family: halyard-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16pt;
  text-align: center;
}

a{
  text-decoration: none;
}

p{
  font-family: freight-sans-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
}

#main {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: block;
}

.section1 {
  height: 100vh;
  position: relative;
}

.titlecard{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.caption {
  position: absolute;
  width: 18vw;
  left: 65vw;
  top: 82vh;
  font-size: 16px;
}

.down {
  position: relative;
  animation: mover 1s infinite  alternate;
  left: 85vw;
  top:-23vh;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.section2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10vh;
}

.map{
  width: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px black solid;
  border-bottom: 0;
}

.map-img{
  width: 75%;
  padding: 30px;
  padding-left: 120px;
  left: 50%;
  display: block;
}

#grid {
  display: grid;
  width: 80vw;
  height: 25vh;
  border: 2px black solid;
  grid-template-columns: repeat(5, 1fr);

}


#grid h5 {
  margin-bottom: 0;
}

#grid p {
  font-size: 11pt;
  text-align: left;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0;
  background-color: #608061;
}

.img{
  margin-top:-30px;
  width: 50%;
  padding: 0% 25% 0% 25%;
}

.desaturate {
  filter:saturate(0.1);
  z-index: 0;
}

.enlarge{
  width: 70%;
  padding: 0% 15% 0% 15%;
  margin-top:-70px;

}

.item {
  border-right: 2px black solid;
  width: 100%;
}

.item-selected {
  background:#608061;
  color: white;
}

.item-selected-l {
  background:#608061;
  color: white;
  border-left: 2px black solid;
}


.item1{
  grid-column: 1;
  grid-row: 1
}

.item2{
  grid-column: 2;
  grid-row: 1;
}
.item3{
  grid-column: 3;
  grid-row: 1;
}
.item4{
  grid-column: 4;
  grid-row: 1;
}
.item5{
  grid-column: 5;
  grid-row: 1;
}

.text1 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1;
  z-index: 1;
  display: none;
}

.text2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
  z-index: 1;
  display: none;
}

.text3{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row: 1;
  z-index: 1;
  display: none;
}

.text4 {
  border-left: 2px black solid;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1;
  z-index: 1;
  display: none;
}

.text5{
  border-left: 2px black solid;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
  z-index: 1;
  display: none;
}

.showcap {
  display: block;
}

/* NAVIGATION BAR BELOW */

#menu {
    position: fixed;
    width: 10%;
    height: 100%;
    z-index: 2;
}

.sidebar {
  height: 100%;
  width: 500px;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;

}

.bar {
  display: block;
  height: 5px;
  width: 50px;
  background-color: white;
  margin: 10px auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right {
  position: fixed;
  left: 40px;
  top: 50%;
}

.dot {
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: -30px;
  top:-20px;
}

.clickbar {
  height: 100vh;
  width: 60px;
  top:-50vh;
  left:-40px;
  background: black;
  position: absolute;
  z-index: -2;
}

.navbar {
  height: 100vh;
  width: 500px;
  top:-50vh;
  left:-540px;
  background: black;
  position: absolute;
  z-index: -5;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
  width: 0;
}

.move-to-left {
  -webkit-transform: translateX(500px);
  -moz-transform: translateX(500px);
  -ms-transform: translateX(500px);
  -o-transform: translateX(500px);
  transform: translateX(500px);
  height: 100vh;
}

nav {
  z-index: 10;
  position: fixed;
  height: 100vh;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  font-family: halyard-display, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 150px;
  margin-left: 75px;
  text-align: left;
}

.sidebar-item {
  margin: 30px 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
  padding-bottom: 60px;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:nth-child(4) {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .8s ease-in-out;
}

.sidebar-item:nth-child(5) {
  -webkit-transition: all .7s 1s ease-in-out;
  -moz-transition: all .7s 1s ease-in-out;
  -ms-transition: all .7s 1s ease-in-out;
  -o-transition: all .7s 1s ease-in-out;
  transition: all .7s 1s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .7s 1.2s ease-in-out;
  -moz-transition: all .7s 1.2s ease-in-out;
  -ms-transition: all .7s 1.2s ease-in-out;
  -o-transition: all .7s 1.2s ease-in-out;
  transition: all .7s 1.2s ease-in-out;
}


.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #FFF;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.fa {
  font-size: 1.4em;
  color: #EF8354;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.ua:hover .fa {
  color: #FFF;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-right {
    position: absolute;
  }
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
}

/* SCROLLBAR */

body::-webkit-scrollbar-track
{
  background-color: #C2ABC8;
}

body::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  background-color: #000000;
}
