/*
  Coding from Life – Sketch 1: fixed layout

  For sketch 1 you'll be positioning elements relative to an element with a fixed
  width and height. For this sketch you can position elements by using pixel values.
*/

body {
  background-color: black;
}

.frame {
  width: 1000px;
  height: 600px;
  background: white;
  margin: 30px auto;
  position: relative;
  z-index: -4;
}

/* Your CSS goes here */
 .table {
   width: 700px;
   height: 200px;
   transform: skew(50deg);
   background: black;
   position: absolute;
   top: 300px;
   left: 150px;
   z-index: -3;
 }

.bag{
  background: #1c5ea5;
  position: absolute;
}

.btop{
  width: 150px;
  height: 100px;
  transform: skew(50deg);
  left: 290px;
  top: 400px;
}

.bhang{
  width: 150px;
  height: 50px;
  left: 350px;
  top: 500px;
}

.pot {
  position: absolute;
  height: 100px;
  width: 150px;
  background-color: #ede7c9;
  top: 375px;
  left:300px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  z-index: 1;
}

.pottop {
  position: absolute;
  border-bottom: 50px solid #ede7c9;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 50px;
  top: 325px;
  left: 300px;
  z-index: 1;
}

.handle {
  position: absolute;
  height: 130px;
  width: 95px;
  border: 10px solid #af7e2a;
  border-radius: 20%;
  top: 295px;
  left: 375px;
  z-index: 0;
}

.tangerine {
  width: 50px;
  height: 30px;
  background: #fc6d00;
  border-radius: 100px / 50px;
}

.t1{
  position: absolute;
  left: 550px;
  top: 350px;
}

.t2 {
  position: absolute;
  left: 575px;
  top: 340px;
}

.t3{
  position: absolute;
  left: 500px;
  top: 340px;
}

.vase {
  position: absolute;
  height: 200px;
  width: 75px;
  background-color: #e8dede;
  top: 200px;
  left: 650px;
  z-index: 0;
}

.flower {
  background: #d83615;
  width: 10px;
  height: 10px;
  position: absolute;
}

.fa {
  transform: rotate(60deg);
}

.fb {
  transform: rotate(20deg);
}

.f1 {
  left: 700px;
  top: 100px;
}

.f2 {
  left: 650px;
  top: 150px;
}

.f3 {
  left: 670px;
  top: 175px;
}
.f4 {
  left: 680px;
  top: 135px;
}

.f5 {
  left: 685px;
  top: 155px;
}

.f6 {
  top: 190px;
  left: 715px;
}
