.pop {
  font-family: "Comic Sans MS", cursive, sans-serif	;
  text-decoration: underline;
}

.rock {
  font-weight: bold;
  font-size: 30px;
  color: blue;
}

.hiphop {
  font-family: monospace;
  color: gold;
}

.rnb {
  color: green;
  font-style: italic;
}
