body {
  background-image: radial-gradient(#F7D8BB 5%, #894779 45%, #124E78 50%);
  }

.hoverspot {
  width: 100%;
  height: 100%;
}

.u {
  position: absolute;
  background-color: #9EC7D6;
  width: 15vw;
  height: 20vw;
}

.u1 {
  left: 50vw;
  top: 30vw;
  transform: rotate(30deg)
}

@keyframes u1Move {
  0% {
    left: default;
    top:default;
  }
  80% {
    transform: rotate(0deg);
    left:15vw;
    top: 32vh;
  }
  100% {
    transform: rotate(0deg);
    left:15vw;
    top: 32vh;
  }
}

.hoverspot:hover .u1 {
  animation: u1Move 5s ease-in-out infinite alternate;
}

.u2 {
  left:10vw;
  top: 70vh;
  transform: rotate(140deg);
}

@keyframes u2Move {
  0% {
    transform: default;
    left: default;
    top: default;
  }
  80% {
    transform: rotate(0deg);
    left:64vw;
    top: 32vh;
  }
  100% {
    transform: rotate(0deg);
    left:64vw;
    top: 32vh;
  }
}

.hoverspot:hover .u2 {
  animation: u2Move 5s ease-in-out infinite alternate;
}

.neg {
  position: absolute;
  background-color: #894779;
  width: 7vw;
  height: 20vw;
  z-index: 2;
}

.u1neg {
  transform: rotate(40deg);
  left:40vw;
  top:2vh;
}

@keyframes u1negMove {
  0% {
    transform: default;
    left: default;
    top: default;
  }
  80% {
    transform: rotate(0deg);
    left: 20vw;
    top: 27vh;
  }
  100% {
    transform: rotate(0deg);
    left: 20vw;
    top: 27vh;
  }
}

.hoverspot:hover .u1neg {
  animation: u1negMove 5s ease-in-out infinite alternate;
}

.u2neg {
  transform: rotate(310deg);
  left:90vw;
  top:50vh;
}

@keyframes u2negMove {
  0% {
    transform: default;
    left: default;
    top: default;
  }
  80% {
    transform: rotate(0deg);
    left: 70vw;
    top: 27vh;
  }
  100% {
    transform: rotate(0deg);
    left: 70vw;
    top: 27vh;
  }
}

.hoverspot:hover .u2neg {
  animation: u2negMove 5s ease-in-out infinite alternate;
}

.w {
  position: absolute;
  background-color: #EFBDEB;
  z-index: 1;
}

.w1 {
  width: 5vw;
  height: 20vw;
  transform: rotate(100deg);
  left: 78vw;
  top: 75vh;
}

@keyframes w1Move {
  0% {
    left: default;
    top:default;
    transform: default;
  }
  80% {
    left: 34vw;
    top: 30vh;
    transform: rotate(330deg);
  }
  100%{
    left: 34vw;
    top: 30vh;
    transform: rotate(330deg);
  }
}

.hoverspot:hover .w1 {
  animation: w1Move 5s ease-in-out infinite alternate;
}

.w2 {
  width: 7vw;
  height: 20vw;
  transform: rotate(90deg);
  left: 20vw;
  top: 54vh;
}

@keyframes w2Move {
  0% {
    transform: default;
    left: default;
    top: default;
  }
  80% {
    transform: rotate(30deg);
    left: 41vw;
    top: 35vh;
  }
  100% {
    transform: rotate(30deg);
    left: 41vw;
    top: 35vh;
  }
}

.hoverspot:hover .w2 {
  animation: w2Move 5s ease-in-out infinite alternate;
}

.w3 {
  width: 4vw;
  height: 22vw;
  transform: rotate(170deg);
  left: 13vw;
  top: 10vh;
}

@keyframes w3Move {
  0% {
    left: default;
    top: default;
  }
  80% {
    transform: rotate(330deg);
    left: 50vw;
    top: 30vh;
  }
  100% {
    transform: rotate(330deg);
    left: 50vw;
    top: 30vh;
  }
}

.hoverspot:hover .w3 {
  animation: w3Move 5s ease-in-out infinite alternate;
}

.w4 {
  width: 5vw;
  height: 20vw;
  transform: rotate(260deg);
  left: 67vw;
  top: 14vh;
}

@keyframes w4Move {
  0% {
    transform: default;
    left: default;
    top: default;
  }
  80% {
    transform: rotate(30deg);
    left: 57vw;
    top: 28vh;
  }
  100% {
    transform: rotate(30deg);
    left: 57vw;
    top: 28vh;
  }
}

.hoverspot:hover .w4 {
  animation: w4Move 5s ease-in-out infinite alternate;
}
